:root {
	--font-family: 'Roboto Flex Variable', sans-serif;
	--text-color: var(--slate-8);
	--text-color-secondary: var(--text-muted-color);
	--surface-border: var(--content-border-color);
	--surface-card: var(--content-background);
	--surface-hover: var(--content-hover-background);
	--surface-overlay: var(--overlay-popover-background);
	--content-border-radius: var(--content-border-radius);
	--topbar-background: var(--slate-50);
	--topbar-sticky-bg: rgba(255, 255, 255, 0.5);
	--sidebar-background: var(--topbar-background);
	--sidebar-width: 220px;
	--sidebar-mini-width: 57px;
	--topbar: 70px;
	--background: #ffffff; //var(--gray-0);
	--shadow: 2px 5px 10px 0px var(--gray-3);
	--sidebar-shadow: 2px 2px 2px 1px var(--slate-1);
	--border: 1px solid var(--gray-200);
}
