:root[class*='app-dark'] {
	--surface-ground: var(--surface-800);
	--code-background: var(--surface-800);
	--code-color: var(--surface-100);

	--surface-contrast-0: var(--surface-950);
	--surface-contrast-50: var(--surface-950);
	--surface-contrast-100: var(--surface-900);
	--surface-contrast-200: var(--surface-800);
	--surface-contrast-300: var(--surface-700);
	--surface-contrast-400: var(--surface-600);
	--surface-contrast-500: var(--surface-500);
	--surface-contrast-600: var(--surface-400);
	--surface-contrast-700: var(--surface-300);
	--surface-contrast-800: var(--surface-200);
	--surface-contrast-900: var(--surface-100);
	--surface-contrast-950: var(--surface-50);

	--primary-contrast-0: var(--primary-950);
	--primary-contrast-100: var(--primary-900);
	--primary-contrast-200: var(--primary-800);
	--primary-contrast-300: var(--primary-700);
	--primary-contrast-400: var(--primary-600);
	--primary-contrast-500: var(--primary-500);
	--primary-contrast-600: var(--primary-400);
	--primary-contrast-700: var(--primary-300);
	--primary-contrast-800: var(--primary-200);
	--primary-contrast-900: var(--primary-100);
	--primary-contrast-950: var(--primary-0);
}
