:root {
    --p-surface-ground: var(--p-surface-50);
    --code-background: var(--p-surface-900);
    --code-color: var(--p-surface-200);

    --p-surface-contrast-0: var(--p-surface-0);
    --p-surface-contrast-50: var(--p-surface-50);
    --p-surface-contrast-100: var(--p-surface-100);
    --p-surface-contrast-200: var(--p-surface-200);
    --p-surface-contrast-300: var(--p-surface-300);
    --p-surface-contrast-400: var(--p-surface-400);
    --p-surface-contrast-500: var(--p-surface-500);
    --p-surface-contrast-600: var(--p-surface-600);
    --p-surface-contrast-700: var(--p-surface-700);
    --p-surface-contrast-800: var(--p-surface-800);
    --p-surface-contrast-900: var(--p-surface-900);
    --p-surface-contrast-950: var(--p-surface-950);
    --p-icon-color: var(--p-surface-100);

    --p-primary-contrast-0: var(--p-primary-0);
    --p-primary-contrast-100: var(--p-primary-100);
    --p-primary-contrast-200: var(--p-primary-200);
    --p-primary-contrast-300: var(--p-primary-300);
    --p-primary-contrast-400: var(--p-primary-400);
    --p-primary-contrast-500: var(--p-primary-500);
    --p-primary-contrast-600: var(--p-primary-600);
    --p-primary-contrast-700: var(--p-primary-700);
    --p-primary-contrast-800: var(--p-primary-800);
    --p-primary-contrast-900: var(--p-primary-900);
    --p-primary-contrast-950: var(--p-primary-950);
    --p-icon-color: var(--p-surface-contrast-600);

}
