.sidebar-wraper {
	// border: $border;
	// border-top: none;
	// padding-top: 0.8rem;
	// box-shadow: $shadow-6;
	background-color: $topbar-sidebar-bg;
	height: 100%;
	position: fixed;
	top: $topbar;
	left: 0px;
	transition: translate 0.3s;
	width: $sidebar-width;
	z-index: 10;
	// box-shadow: -5px 5px 10px 0px $surface-7 inset;
	border: $border;
	border-top: none;

	&>aside {
		padding-top: .5rem;
	}

	&.mini {
		translate: calc(($sidebar-width) - $sidebar-mini-width) * -1;
		// box-shadow: 5px 15px 10px 0px $surface-7 ;
	}

	&.close {
		translate: calc($sidebar-width) * -1;
	}
}

.sidebar-control {
	transition-property: translate;
	transition-property: width;
	transition-property: padding;
	// translate: 0;
	transition-duration: .3s;
	display: flex;
	justify-content: end;
	align-items: center;
	width: $sidebar-width;
	// align-content: center; // justify-items: ar;
	position: absolute;
	left: 0px;
	top: 0rem;
	// transform: translate(calc($sidebar-width - 24px));
	// background-color: $topbar-sidebar-bg;
	z-index: 20;
	gap: 7px;
	padding: 0px .5rem;

	&>.toogle-wraper,
	&>.close-wraper {
		// box-shadow: 3px 3px 5px 0px $surface-7;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 3px;
		background-color: $surface-1;
		border: $border;
		border-radius: 98px;
		transition: all .3s;

		&:hover {
			border-color: $surface-6;

			&>.fdn-icon {
				color: $surface-6;
			}

			// box-shadow: $shadow-1;
		}

		&>.fdn-icon {
			transition: all .3s;
			font-weight: 300;
			color: $surface-6 ;
			font-size: 18px;
		}

		&.toogle-wraper>.fdn-icon {
			transition: rotate 1s;
			rotate: 180deg;
		}
	}

	&:not(.large)>.toogle-wraper>.fdn-icon {
		rotate: 0deg;
	}

	&.mini {
		width: $sidebar-mini-width;
		padding: 0px 0px;
		top: 0rem;
		gap: 0px;
		// justify-content: center;
		translate: calc(($sidebar-width) - ($sidebar-mini-width)) * 1;
		justify-content: space-around;

		&>.toogle-wraper,
		&>.close-wraper {
			// background-color: $surface-2;
			padding: 2px;
			// box-shadow: 1px 3px 5px 1px $surface-6 ;
			box-shadow: none;
		}
	}

	&.close {
		translate: calc($sidebar-width + 5px) * 1;
		// box-shadow: $shadow-8 ;
		// box-shadow: 1px 3px 5px 1px $surface-3;
		width: 30px;
		padding: 0px;
		top: 0rem;

		&>.close-wraper {
			display: none;
		}

		&>.toogle-wraper {
			box-shadow: 1px 3px 8px 0px $surface-5;
			// background-color: $surface-2;

			&>.fdn-icon {
				// font-weight: 300;
				// color: $surface-6 ;
				font-size: 25px;
			}
		}
	}
}
