.sticky-header-table {
	/* height or max-height is important */
	// max-height: 800px;
	width: 100%;
	color: $text-color; // table-layout: fixed;
	// background-color: $white;

	&.loading tbody {
		opacity: 0.5;
	}

	& table {

		&>thead>tr>th,
		&>tbody>tr>td {
			&>.col-small {
				max-width: 120px;
			}

			&>.col-medium {
				max-width: 180px;

				&>div.collection-cell-wrap {
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
					padding-right: 5px;
				}
			}
		}

		&>thead {
			&>tr>th {
				text-transform: capitalize;
				position: sticky;
				z-index: 10;
				top: 35px;
				background-color: white;
				padding: 3px 15px;

				&.sortable {
					&>div {
						// display: inline-block;
						padding-left: 3px;
					}

					&>i {
						transition: scale 0.5s;
						opacity: 1;
						font-size: 18px;
						top: 7px;
						color: $surface-4 ;
						position: absolute;
						left: 0px;
						font-weight: 500;

						&:hover {
							color: $surface-7
						}
					}
				}

				&.sorted .q-table__sort-icon {
					opacity: 0.86 !important;
					// scale: 1.2;
				}
			}

			&>tr:first-child>th {
				top: 0;
			}
		}

		&>tbody {
			scroll-margin-top: 48px;

			&>tr>td {
				padding: 3px 15px;
				// font-size: 1rem;

				&:last-child {
					position: sticky;
					right: 0;
					z-index: 1;
					background-color: $surface-1; //-alpha($surface-1, 0.5);
					border-bottom: 1px solid $surface-3 ;
					border-left: 1px solid $surface-3;
					width: 90px;
					min-width: 90px;
					backdrop-filter: blur(3px) saturate(120%);


					&>div>.fdn-icon {
						transition: padding 0.2s;

						&:hover {
							background-color: white;
							border: 1px solid $surface-4 ;
							padding: 4px;
							cursor: pointer;
						}
					}
				}
			}
		}
	}

	& table>thead>tr:last-child>th {
		background-color: $surface-1 ;

		& .form-outer {
			margin-bottom: 0px;
		}
	}


}

table {
	border-collapse: collapse;
}

td,
th {
	padding: 0.5rem 0.75rem;
}

// tbody td:nth-child(even),
// thead th:nth-child(even) {
// 	// tbody tr:nth-child(even) {
// 	background-color: $surface-1 // background-color: rgba(0, 0, 0, 0.03);
// }
