hr.q-separator {

	// q-separator--horizontal q-separator--horizontal-inset
	&.q-separator--horizontal {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	&.q-separator--vertical {
		margin-left: 10px;
		margin-right: 10px;
	}
}

.q-badge {
	font-family: $font-family;
	width: fit-content;
	// padding: 5px;
	// font-size: 13px;
	// top: -8px !important;
	// right: -6px !important;



	&.small.bg-red {
		padding: 4px;
		height: 0px !important;
		// font-size: 2px;
		min-height: 0px;
	}
}

.q-drawer-container {
	z-index: 30;
	position: relative;
}

.q-breadcrumbs__el,
.q-tree__node-header-content {
	color: $text-color
}

.q-loading-bar.q-loading-bar--top.bg-info {
	background-color: $surface-6 !important;
}
