// src/css/quasar.variables.scss

$primary : #334155;
$secondary : #067d71;
$accent : #9C27B0;

$dark : #0a0a0a;
$dark-page : #121212;

$positive : #2fed5c;
$negative : #C10015;
$info : #82e2f5;
$warning : #fa7900;
