@use 'quasar/src/css/variables' as q;
@use 'sass:map';

$primary: #334155;
$secondary: #065f46;
$accent: #44403c;

$dark: #0a0a0a;
$dark-page: #121212;

$positive: #2fed5c;
$negative: #c10015;
$info: #0284c7;
$warning: #c2410c;
