.q-field--outlined .q-field__control,
.q-field--dense .q-field__marginal {
  height: 33px;

  & input {
    padding: 0px;
  }
}

.q-field--outlined.q-field--highlighted .q-field__control:after {
  border-width: 1px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  /* Removes the margin in older versions of Chrome */
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
  /* Standard property for newer browsers */
}
