.q-field--outlined .q-field__control,
.q-field--dense .q-field__marginal {
	height: 33px;
	border-radius: 6px;
	& input {
		padding: 0px;
	}
}

.q-field--outlined .q-field__control::before {
	border-color: var(--slate-4);
}

.q-field--outlined.q-field--highlighted .q-field__control:after {
	border-width: calc(1px);
	border-color: var(--surface-9);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
	/* Removes the margin in older versions of Chrome */
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
	appearance: textfield;
	/* Standard property for newer browsers */
}
